nav {
  display: flex;

  /* background-color: darkgoldenrod; */
}

body {
    font-family: 'Righteous', cursive;
}

.page-header {
    margin: 5rem;
    text-align: center;
    background-image: url("../resources/georgia-vagim-ny-lHmsHYHk-unsplash.jpg")

}


.movieDisplay {
  background-color: darkslateblue;
}

.movieDisplay > p {
  font-family: cursive;
}

.displayPoster {
  display: flex;
  flex-flow: row wrap;
  justify-content: flex-start;
}

.displayPoster > img {
    width: 20%;
    margin: 2% 2.5%;
    border-radius: 3px;
}

.displayPoster > figcaption {
    
    width: 10rem;
    padding: 15px;
    /* flex-basis: inherit; */
}

.input {
    display: flex;
    align-items: start;
    padding: 20px;
    justify-content: space-evenly;
}

/* img {
  size: 50px;
} */
